.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58em;
}

.card {
    padding: 10px 50px;
    display: flex;
    width: 32em;
    height: 19em;
    background-color: var(--Cor-do-card);
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 15px;
}

.titulo{
    color: var(--Cor-do-botão-do-card-e-do-texto);
    font-family: var(--estilo-texto);
    font-size: 21px;
}

.conselho {
    color: var(--Cor-do-texto);
    font-size: 18px;
    font-weight: 800;
    font-family: var(--estilo-texto);
}

.botao {
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    position: absolute;
    width: 5em;
    height: 5em;
    border-radius: 50px;
    background-color: var(--Cor-do-botão-do-card-e-do-texto);
}

.botao:hover {
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px hsl(150, 100%, 66%);
}


@media (max-width: 576px) {
    .card {
        width: 30em;
    }

    .conselho {
        font-size: 19px;
    }
}

@media (max-width: 500px) {
    .card {
        width: 23em;
    }
}

@media (max-width: 470px) {
    .card {
        width: 23em;
    }
}

@media (max-width: 375px) {
    .card {
        width: 22em;
    }
    
    .conselho {
        font-size: 19px;
    }
}